#ifndef USER_H
#define USER_H

// define this if you have an ESP01 attached
// #define WITH_ESP01

// uncomment and change "localhost" to an ntp pool in your area - see https://www.ntppool.org/en/use.html for details
// #define NTP_HOST "localhost"

// to get started, copy user.h.dist to user.h
// contains "user-tunable" settings + credentials and the likes
// in this file, you put things you do not want to risk being pushed to github


// time zone and daylight savings settings
#define CLOCK_DST_RULE                                                         \
  { "EDT", Last, Sun, Mar, 3, 120 } // UTC + 2 hours in summer
#define CLOCK_STD_RULE                                                         \
  { "EST", Last, Sun, Oct, 2, 60 } // UTC + 1 hour in winter

// MQTT host
#define MQTT_HOST "10.168.0.194"

// position - for weather forecast reasons
// to save you the time it takes to look this up - it is in the middle of
// Arlanda airport, Sweden
#define LAT "59.642929"
#define LON "17.939554"

// unimplemented because SSL, but leaving it in place in case I pick it up later
// zip code, for use with the "will I get mail today" function for postnord
// undefine and set the zip if you want to enable this

// #define ZIPCODE "41452"

#endif